@using Application.Enum
@model Application.ViewModels.SubjectViewModel
@{
    ViewData["Title"] = "Update Subject";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="nk-block nk-block-lg d-flex flex-column justify-content-center align-items-center" style="margin:0,auto;">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <p style="color:#0971FE;">Fill the form below to add a new Class. Hint: please provide accurate information concerning the Admin.</p>

            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="card card-bordered" style="max-width:700px; ">
        <div class="card-inner ">

            <form method="post" id="submitform" asp-action="Edit" enctype="multipart/form-data" onsubmit="ConfirmSubmit(this, event)">
                <div class="row gy-4">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="ClassId" class="form-label">Select Class</label>
                            <div class="form-control-wrap">
                                <select asp-items="ViewBag.classes" asp-for="ClassId" id="role" required class="form-select">
                                    <option selected disabled>Select Class</option>
                                </select>
                                <span asp-validation-for="ClassId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="SubjectTeacherId" class="form-label">Select Teacher</label>
                            <div class="form-control-wrap">
                                <select asp-items="ViewBag.teachers" asp-for="SubjectTeacherId" id="" required class="form-select">
                                    <option selected disabled>Select Teacher</option>
                                </select>
                                <span asp-validation-for="SubjectTeacherId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">Subject Name @* <span style="color:red;"></span> *@</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" required asp-for="Name" placeholder="Subject Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label">Total Exam Mark @* <span style="color:red;"></span> *@</label>
                            <div class="form-control-wrap">
                                <input type="number" class="form-control" required asp-for="TotalExamMark" placeholder="Total Exam Mark" />
                                <span asp-validation-for="TotalExamMark" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label">Total CA Mark @* <span style="color:red;"></span> *@</label>
                            <div class="form-control-wrap">
                                <input type="number" class="form-control" required asp-for="TotalCAMark" placeholder="Total CA Mark" />
                                <span asp-validation-for="TotalCAMark" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xxl-3">
                        <div class="form-group">
                            <button type="submit" id="subbtn" class="btn btn-primary btn-lg">Add New Class</button>
                            <a type="button" asp-action="Index" asp-controller="Subject" class="btn btn-danger btn-lg">Cancel</a>
                        </div>
                    </div><!--col-->

                </div><!--row-->

            </form>
        </div><!-- .card-inner-group -->
    </div><!-- .card -->
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        function ConfirmSubmit(form, event) {
            event.preventDefault();
            if (form.checkValidity()) {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Would you like to add this Class?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Add!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            }
        }
    </script>

}