@using Application.Enum
@model Application.ViewModels.ClassViewModel
@{
    ViewData["Title"] = "Update Class ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="nk-block nk-block-lg">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <p style="color:#0971FE;">Fill the form below to add a Update Class. Hint: please provide accurate information concerning the Admin.</p>

            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="card card-bordered">
        <div class="card-inner ">
            <form method="post"  id="submitform" enctype="multipart/form-data" onsubmit="ConfirmSubmit(this, event)">
                <div class="row gy-4">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">Name @* <span style="color:red;"></span> *@</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" required asp-for="Name" placeholder="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="sectionId" class="form-label">Select Section</label>
                            <div class="form-control-wrap">
                                <select asp-items="ViewBag.sections" asp-for="sectionId" id="role" required class="form-select">
                                    <option selected disabled>Select Section</option>
                                </select>
                                <span asp-validation-for="sectionId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="TeacherId" class="form-label">Select FormMaster</label>
                            <div class="form-control-wrap">
                                <select asp-items="ViewBag.teachers" asp-for="TeacherId" id="role" required class="form-select">
                                    <option selected disabled>Select FormMaster</option>
                                </select>
                                <span asp-validation-for="TeacherId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-sm-12 col-xxl-3">
                        <div class="form-group">
                            <button type="submit" id="subbtn" class="btn btn-primary btn-lg">Add New Class</button>
                            <a type="button" asp-action="Index" asp-controller="Section" class="btn btn-danger btn-lg">Cancel</a>
                        </div>
                    </div><!--col-->

                </div><!--row-->

            </form>
        </div><!-- .card-inner-group -->
    </div><!-- .card -->
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        function ConfirmSubmit(form, event) {
            event.preventDefault();
            if (form.checkValidity()) {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Would you like to Update this Class?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Add!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            }
        }
    </script>

}