

<header class="header-main header-main-s1 is-sticky  " id="home">
    <div class="container header-container">
        <div class="header-wrap">
            <div class="header-logo">
                <a href="html/index.html" class="logo-link">
                    <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                    <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                </a>
            </div>
            <div class="header-toggle">
                <button class="menu-toggler" data-target="mainNav">
                    <em class="menu-on icon ni ni-menu"></em>
                    <em class="menu-off icon ni ni-cross"></em>
                </button>
            </div><!-- .header-nav-toggle -->
            <nav class="header-menu" data-content="mainNav">
                <ul class="menu-list ms-lg-auto">
                    <li class="menu-item"><a href="#home" class="menu-link nav-link">Home</a></li>
                    <li class="menu-item"><a href="#About" class="menu-link nav-link">About</a></li>
                    <li class="menu-item"><a href="#team" class="menu-link nav-link">Team</a></li>
                    <li class="menu-item has-sub">
                        <a href="#" class="menu-link menu-toggle">Admission</a>
                        <div class="menu-sub">
                            <ul class="menu-list">
                                <li class="menu-item"><a href="#" class="menu-link">How to Apply</a></li>
                                <li class="menu-item"><a href="#" class="menu-link">Apply</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item has-sub">
                        <a href="#" class="menu-link menu-toggle">Portals</a>
                        <div class="menu-sub">
                            <ul class="menu-list">
                                <li class="menu-item"><a asp-area="Identity" asp-page="/Account/LogIn" class="menu-link">Admin Login</a></li>
                                <li class="menu-item"><a asp-area="Identity" asp-page="/Account/StaffLogIn" class="menu-link">Staff Login</a></li>
                                <li class="menu-item"><a asp-area="Identity" asp-page="/Account/StaffLogIn" class="menu-link">Parent Login</a></li>
                                <li class="menu-item"><a asp-area="Identity" asp-page="/Account/StudentLogIn" class="menu-link">Student Login</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item has-sub">
                        <a href="#" class="menu-link menu-toggle">School</a>
                        <div class="menu-sub">
                            <ul class="menu-list">
                                <li class="menu-item"><a asp-action="faqs" class="menu-link">Faqs</a></li>
                                <li class="menu-item"><a href="html/index-v2.html" class="menu-link">Courses</a></li>
                                <li class="menu-item"><a href="html/index-v3.html" class="menu-link">Calendar</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="menu-btns">
                    <li>
                        <a href="#contact" style="" class="btn btn-primary btn-lg">Contact</a>
                    </li>
                </ul>
            </nav><!-- .nk-nav-menu -->
        </div><!-- .header-warp-->
    </div><!-- .container-->
</header><!-- .header -->