@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>Home | TLC</title>
    <!-- StyleSheets  -->

    <link rel="stylesheet" href="~/Landing/assets/css/dashlite.css">
    <link href="~/" rel="stylesheet" />
    @* <link href="~/alaj/css/style-main.css" rel="stylesheet" type="text/css"> *@
    <!-- CSS | Preloader Styles -->
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    @* <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=3.1.2"> *@
    <!-- Stylesheet -->
    @* <link href="~/alaj/css/bootstrap.min.css" rel="stylesheet" type="text/css"> *@
    @* <link href="~/alaj/css/jquery-ui.min.css" rel="stylesheet" type="text/css"> *@
    @* <link href="~/alaj/css/animate.css" rel="stylesheet" type="text/css"> *@
    @* <link href="~/alaj/css/css-plugin-collections.css" rel="stylesheet" /> *@
    <!-- CSS | menuzord megamenu skins -->
    @* <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" /> *@
    <!-- CSS | Main style file -->
    @* <link href="~/alaj/css/style-main.css" rel="stylesheet" type="text/css"> *@
    <!-- CSS | Preloader Styles -->
    <link href="~/alaj/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    @* <link href="~/alaj/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css"> *@
    <!-- CSS | Responsive media queries -->
    @* <link href="~/alaj/css/responsive.css" rel="stylesheet" type="text/css"> *@
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- CSS | Theme Color -->
    @* <link href="~/alaj/css/colors/theme-skin-color-set-1.css" rel="stylesheet" type="text/css"> *@

    @* <!-- external javascripts --> *@
    @* <script src="~/alaj/js/jquery-2.2.4.min.js"></script>  *@
    @* <script src="~/alaj/js/jquery-ui.min.js"></script>  *@
    @* <script src="~/alaj/js/bootstrap.min.js"></script>  *@
    <!-- JS | jquery plugin collection for this theme -->
    @* <script src="~/alaj/js/jquery-plugin-collection.js"></script>  *@

    <script src="~/Landing/assets/js/bundle.js?ver=3.1.2"></script>
    <script src="~/Landing/assets/js/scripts.js?ver=3.1.2"></script>
    @* <script src="~/alaj/js/custom.js"></script> *@
    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/alaj/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/alaj/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

</head>

<body class="nk-body bg-white npc-landing ">
    <!-- preloader -->
    @* <div id="preloader">  *@
    @*     <div id="spinner"> *@
    @*        <img alt="" src="~/alaj/images/preloaders/5.gif"> *@
    @*    </div>  *@
    @*     <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>  *@
    @* </div>  *@

    <div class="nk-app-root">
        <!-- main s -->
        <div class="nk-main ">
            <div id="whatsapp-support-widget">
                <div>
                    <div class="support-box ">
                        <div class="header-sup bg-success text-white p-3 rounded-top">
                            <strong>Hi There 👋</strong><br>
                            <small>Click to start a conversation</small>
                        </div>
                        <div class="support-body bg-light p-3">
                            <a href="https://wa.me/2348012345678" class="support-option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                    <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
                                </svg>
                                <div>
                                    <div class="fw-bold">Technical Support</div>
                                    <small>Contact us 24/7</small>
                                </div>
                            </a>
                            <a href="https://wa.me/2348012345679" class="support-option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                    <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
                                </svg>
                                <div>
                                    <div class="fw-bold">Enquiry Team</div>
                                    <small>Contact us 24/7</small>
                                </div>
                            </a>
                            <a href="https://wa.me/2348012345680" class="support-option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                    <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
                                </svg>
                                <div>
                                    <div class="fw-bold">Management Team</div>
                                    <small>Contact us 24/7</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="toogle service-icon styled-icon styled-icon-s4 styled-icon-6x circle text-white bg-success" style="cursor:pointer;" onclick="toggleSupportBox()">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
                            </svg>
                        </div>
                    </div>

                </div>

            </div>
            <partial name="_Nabvar.cshtml" /><!-- .header -->
            <section class="section section-faq bg-lighter" id="faqs">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-6">
                            <div class="section-head">
                                <h2 class="title">Frequently Asked Questions</h2>
                                <p>Got a question? We've got answers. If you have some other questions, Who are in extremely love with eco friendly system.</p>
                            </div><!-- .section-head -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="accordion accordion-s1 card card-shadow border-0 round-xl" id="accordion">
                                <div class="accordion-item">
                                    <a href="#" class="accordion-head" data-bs-toggle="collapse" data-bs-target="#accordion-item-1">
                                        <h6 class="title">Is this a secure site for purchases?</h6>
                                        <span class="accordion-icon"></span>
                                    </a>
                                    <div class="accordion-body collapse show" id="accordion-item-1" data-bs-parent="#accordion">
                                        <div class="accordion-inner">
                                            <p>Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner. </p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-item-2">
                                        <h6 class="title">What payment services do you support?</h6>
                                        <span class="accordion-icon"></span>
                                    </a>
                                    <div class="accordion-body collapse" id="accordion-item-2" data-bs-parent="#accordion">
                                        <div class="accordion-inner">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-item-3">
                                        <h6 class="title">How long are your contracts?</h6>
                                        <span class="accordion-icon"></span>
                                    </a>
                                    <div class="accordion-body collapse" id="accordion-item-3" data-bs-parent="#accordion">
                                        <div class="accordion-inner">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-item-4">
                                        <h6 class="title">Can I update my card details?</h6>
                                        <span class="accordion-icon"></span>
                                    </a>
                                    <div class="accordion-body collapse" id="accordion-item-4" data-bs-parent="#accordion">
                                        <div class="accordion-inner">
                                            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-item-5">
                                        <h6 class="title">Can i use the these theme for my client?</h6>
                                        <span class="accordion-icon"></span>
                                    </a>
                                    <div class="accordion-body collapse" id="accordion-item-5" data-bs-parent="#accordion">
                                        <div class="accordion-inner">
                                            <p>Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                            </div><!-- accordion -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- .section -->
            <partial name="_Footer" />
            <!-- .footer -->
        </div>
        <!-- main e -->
    </div>
    <!-- app-root e -->
    <!-- JavaScript -->
    <script>
        function toggleSupportBox() {
          const box = document.querySelector('.support-box');
          box.style.display = box.style.display === 'block' ? 'none' : 'block';
        }

        function getwhatsapp(){
            return ``;
        }
        function getcancel(){
            return ``;keep
        }
    </script>
</body>

</html>

