@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>Home | TLC</title>
    <!-- StyleSheets  -->

    <link rel="stylesheet" href="~/Landing/assets/css/dashlite.css">
    <link href="~/" rel="stylesheet" />
    @* <link href="~/alaj/css/style-main.css" rel="stylesheet" type="text/css"> *@
    <!-- CSS | Preloader Styles -->
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    @* <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=3.1.2"> *@
    <!-- Stylesheet -->
    @* <link href="~/alaj/css/bootstrap.min.css" rel="stylesheet" type="text/css"> *@
    @* <link href="~/alaj/css/jquery-ui.min.css" rel="stylesheet" type="text/css"> *@
    @* <link href="~/alaj/css/animate.css" rel="stylesheet" type="text/css"> *@
    @* <link href="~/alaj/css/css-plugin-collections.css" rel="stylesheet" /> *@
    <!-- CSS | menuzord megamenu skins -->
    @* <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" /> *@
    <!-- CSS | Main style file -->
    @* <link href="~/alaj/css/style-main.css" rel="stylesheet" type="text/css"> *@
    <!-- CSS | Preloader Styles -->
    <link href="~/assets/alaj/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    @* <link href="~/alaj/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css"> *@
    <!-- CSS | Responsive media queries -->
    @* <link href="~/alaj/css/responsive.css" rel="stylesheet" type="text/css"> *@
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- Revolution Slider 5.x CSS settings -->
    <link href="~/assets/alaj/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/alaj/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/alaj/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />
    
    <!-- CSS | Theme Color -->
    @* <link href="~/alaj/css/colors/theme-skin-color-set-1.css" rel="stylesheet" type="text/css"> *@

    @* <!-- external javascripts --> *@
     @* <script src="~/alaj/js/jquery-2.2.4.min.js"></script>  *@
     @* <script src="~/alaj/js/jquery-ui.min.js"></script>  *@
     @* <script src="~/alaj/js/bootstrap.min.js"></script>  *@
     <!-- JS | jquery plugin collection for this theme --> 
     @* <script src="~/alaj/js/jquery-plugin-collection.js"></script>  *@

    <script src="~/Landing/assets/js/bundle.js?ver=3.1.2"></script>
    <script src="~/Landing/assets/js/scripts.js?ver=3.1.2"></script>
    @* <script src="~/alaj/js/custom.js"></script> *@
    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/alaj/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/alaj/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
   
</head>

<body class="nk-body bg-white npc-landing ">
    <!-- preloader -->
    @* <div id="preloader">  *@
    @*     <div id="spinner"> *@
    @*        <img alt="" src="~/alaj/images/preloaders/5.gif"> *@
    @*    </div>  *@
    @*     <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>  *@
    @* </div>  *@
 
    <div class="nk-app-root">
        <!-- main s -->
        <div class="nk-main ">
            @* <div id="whatsapp-support-widget">
                <div>
                    <div class="support-box ">
                        <div class="header-sup bg-success text-white p-3 rounded-top">
                            <strong>Hi There 👋</strong><br>
                            <small>Click to start a conversation</small>
                        </div>
                        <div class="support-body bg-light p-3">
                            <a href="https://wa.me/2348012345678" class="support-option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                    <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
                                </svg>
                                <div>
                                    <div class="fw-bold">Technical Support</div>
                                    <small>Contact us 24/7</small>
                                </div>
                            </a>
                            <a href="https://wa.me/2348012345679" class="support-option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                    <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
                                </svg>
                                <div>
                                    <div class="fw-bold">Enquiry Team</div>
                                    <small>Contact us 24/7</small>
                                </div>
                            </a>
                            <a href="https://wa.me/2348012345680" class="support-option">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                    <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
                                </svg>
                                <div>
                                    <div class="fw-bold">Management Team</div>
                                    <small>Contact us 24/7</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="toogle service-icon styled-icon styled-icon-s4 styled-icon-6x circle text-white bg-success" style="cursor:pointer;" onclick="toggleSupportBox()">
                           
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
                            </svg>
                        </div>
                    </div>

                </div>
               
            </div> *@
            <partial name="_Nabvar.cshtml" />
            <!-- Section: slider -->
            <section id="">

                <!-- Slider Revolution Start -->
                <div class="rev_slider_wrapper">
                    <div class="rev_slider" data-version="5.0">
                        <ul>

                            <!-- SLIDE 1 -->
                            <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg5.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 1" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="~/assets/alaj/images/bg/bg5.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway "
                                     id="rs-1-layer-1"
                                     data-x="['left']"
                                     data-hoffset="['30']"
                                     data-y="['middle']"
                                     data-voffset="['-110']"
                                     data-fontsize="['77']"
                                     data-lineheight="['110']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;s:500"
                                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap; font-weight:700;">
                                    The Light College
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent border-left-theme-color-2-6px pl-20 pr-20"
                                     id="rs-1-layer-2"
                                     data-x="['left']"
                                     data-hoffset="['35']"
                                     data-y="['middle']"
                                     data-voffset="['-25']"
                                     data-fontsize="['35']"
                                     data-lineheight="['54']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;s:500"
                                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap; font-weight:600;">
                                    Education For EveryOne
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme text-white"
                                     id="rs-1-layer-3"
                                     data-x="['left']"
                                     data-hoffset="['35']"
                                     data-y="['middle']"
                                     data-voffset="['35']"
                                     data-fontsize="['16']"
                                     data-lineheight="['28']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;s:500"
                                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1400"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                                    We provides always our best services for our clients and  always<br> try to achieve our client's trust and satisfaction.
                                </div>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption tp-resizeme"
                                     id="rs-1-layer-4"
                                     data-x="['left']"
                                     data-hoffset="['35']"
                                     data-y="['middle']"
                                     data-voffset="['100']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1400"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                                    <a class="btn btn-primary btn-colored btn-lg btn-flat btn-theme-colored border-left-theme-color-2-6px pl-20 pr-20" href="#About">View Details</a>
                                </div>
                            </li>

                            <!-- SLIDE 2 -->
                            <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg7.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 2" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="~/assets/alaj/images/bg/bg7.jpg" alt="" data-bgposition="center 40%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-resizeme text-uppercase  bg-theme-colored-transparent text-white font-raleway border-left-theme-color-2-6px border-right-theme-color-2-6px pl-30 pr-30"
                                     id="rs-2-layer-1"
                                     data-x="['center']"
                                     data-hoffset="['0']"
                                     data-y="['middle']"
                                     data-voffset="['-90']"
                                     data-fontsize="['28']"
                                     data-lineheight="['54']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;s:500"
                                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap; font-weight:400; border-radius: 30px;">
                                    Feed Your Knowledge
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme text-uppercase bg-theme-colored-transparent text-white font-raleway pl-30 pr-30"
                                     id="rs-2-layer-2"
                                     data-x="['center']"
                                     data-hoffset="['0']"
                                     data-y="['middle']"
                                     data-voffset="['-20']"
                                     data-fontsize="['48']"
                                     data-lineheight="['70']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;s:500"
                                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">
                                    The best College of Health
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme text-white text-center"
                                     id="rs-2-layer-3"
                                     data-x="['center']"
                                     data-hoffset="['0']"
                                     data-y="['middle']"
                                     data-voffset="['50']"
                                     data-fontsize="['16']"
                                     data-lineheight="['28']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;s:500"
                                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1400"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                                    We provides always our best services for our clients and  always<br> try to achieve our client's trust and satisfaction.
                                </div>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption tp-resizeme"
                                     id="rs-2-layer-4"
                                     data-x="['center']"
                                     data-hoffset="['0']"
                                     data-y="['middle']"
                                     data-voffset="['115']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1400"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 5; border:2px solid white; border-radius:20px; white-space: nowrap; letter-spacing:1px;">
                                    <a class="btn text-white rounded is-transparent btn-default btn-circled btn-transparent pl-20 pr-20" href="#">Admission for 2025/2026 is now on sale Apply Now</a>
                                </div>
                            </li>

                            <!-- SLIDE 3 -->
                            <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 3" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="~/assets/alaj/images/bg/bg1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent border-right-theme-color-2-6px pr-20 pl-20"
                                     id="rs-3-layer-1"
                                     data-x="['right']"
                                     data-hoffset="['30']"
                                     data-y="['middle']"
                                     data-voffset="['-90']"
                                     data-fontsize="['64']"
                                     data-lineheight="['72']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;s:500"
                                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap; font-weight:600;">
                                    Best Education
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                                     id="rs-3-layer-2"
                                     data-x="['right']"
                                     data-hoffset="['35']"
                                     data-y="['middle']"
                                     data-voffset="['-25']"
                                     data-fontsize="['32']"
                                     data-lineheight="['54']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;s:500"
                                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap; font-weight:600;">
                                    For Your Better Future
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme text-white text-right"
                                     id="rs-3-layer-3"
                                     data-x="['right']"
                                     data-hoffset="['35']"
                                     data-y="['middle']"
                                     data-voffset="['30']"
                                     data-fontsize="['16']"
                                     data-lineheight="['28']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;s:500"
                                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1400"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                                    We provides always our best services for our clients and  always<br> try to achieve our client's trust and satisfaction.
                                </div>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption tp-resizeme"
                                     id="rs-3-layer-4"
                                     data-x="['right']"
                                     data-hoffset="['35']"
                                     data-y="['middle']"
                                     data-voffset="['95']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                     data-start="1400"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                                    <a class="btn btn-primary btn-colored btn-lg btn-flat btn-theme-colored btn-theme-colored border-right-theme-color-2-6px pl-20 pr-20" href="#">Apply Now</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <!-- end .rev_slider -->
                </div>
                <!-- end .rev_slider_wrapper -->
                <script>
                    $(document).ready(function(e) {
                      $(".rev_slider").revolution({
                        sliderType:"standard",
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 5000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                          arrows: {
                            style:"zeus",
                            enable:true,
                            hide_onmobile:true,
                            hide_under:600,
                            hide_onleave:true,
                            hide_delay:200,
                            hide_delay_mobile:1200,
                            tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                            left: {
                              h_align:"left",
                              v_align:"center",
                              h_offset:30,
                              v_offset:0
                            },
                            right: {
                              h_align:"right",
                              v_align:"center",
                              h_offset:30,
                              v_offset:0
                            }
                          },
                          bullets: {
                            enable:true,
                            hide_onmobile:true,
                            hide_under:600,
                            style:"metis",
                            hide_onleave:true,
                            hide_delay:200,
                            hide_delay_mobile:1200,
                            direction:"horizontal",
                            h_align:"center",
                            v_align:"bottom",
                            h_offset:0,
                            v_offset:30,
                            space:5,
                            tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                          }
                        },
                        responsiveLevels: [1240, 1024, 778],
                        visibilityLevels: [1240, 1024, 778],
                        gridwidth: [1170, 1024, 778, 480],
                        gridheight: [650, 768, 960, 720],
                        lazyType: "none",
                        parallax: {
                            origo: "slidercenter",
                            speed: 1000,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                            type: "scroll"
                        },
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "on",
                        stopAfterLoops: 0,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "0",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                      });
                    });
                </script>
                <!-- Slider Revolution Ends -->

            </section>
            <section class="section section-service pb-0" id="feature">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-sm-8 col-lg-6">
                            <div class="section-head">
                                <h2 class="title">OUR <span class="text-pink">STRENGTH</span></h2>
                            </div><!-- .section-head -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="section-content">
                        <div class="row justify-content-center text-center g-gs">
                            <div class="col-sm-8 col-md-6 col-lg-4">
                                <div class="service">
                                    <div class="service-icon styled-icon styled-icon-s4 styled-icon-6x circle text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
                                            <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917zM8 8.46 1.758 5.965 8 3.052l6.242 2.913z" />
                                            <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46z" />
                                        </svg>
                                    </div><!-- .service-icon -->
                                    <div class="service-text">
                                        <h4 class="title">Accredited Programs</h4>
                                        <p>All courses are approved by relevant health and education authorities.</p>
                                    </div><!-- .service-text -->
                                </div><!-- .service -->
                            </div><!-- .col -->
                            <div class="col-sm-8 col-md-6 col-lg-4">
                                <div class="service">
                                    <div class="service-icon styled-icon styled-icon-s4 styled-icon-6x circle text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                                        </svg>
                                    </div><!-- .service-icon -->
                                    <div class="service-text">
                                        <h4 class="title">Qualified & Experienced Faculty</h4>
                                        <p>Lecturers and instructors with years of teaching and real-world healthcare experience.</p>
                                    </div><!-- .service-text -->
                                </div><!-- .service -->
                            </div><!-- .col -->
                            <div class="col-sm-8 col-md-6 col-lg-4">
                                <div class="service">
                                    <div class="service-icon styled-icon styled-icon-s4 styled-icon-6x circle text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-beaker" viewBox="0 0 16 16">
                                            <path d="M9.5 3a.5.5 0 0 0 0 1H13V3zm2 2a.5.5 0 0 0 0 1H13V5zm-2 2a.5.5 0 0 0 0 1H13V7zm2 2a.5.5 0 0 0 0 1H13V9zm-2 2a.5.5 0 0 0 0 1H13v-1zm2 2a.5.5 0 0 0 0 1H13v-1z" />
                                            <path d="M.5 0a.5.5 0 0 0-.354.854l.122.12A2.5 2.5 0 0 1 1 2.744V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V2.743a2.5 2.5 0 0 1 .732-1.768l.122-.121A.5.5 0 0 0 15.5 0zM2 2.743A3.5 3.5 0 0 0 1.535 1h12.93A3.5 3.5 0 0 0 14 2.743V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                                        </svg>
                                    </div><!-- .service-icon -->
                                    <div class="service-text">
                                        <h4 class="title">Modern Laboratories & Facilities</h4>
                                        <p>Fully equipped labs for practical learning in nursing, pharmacy, medical lab science, etc.p>
                                    </div><!-- .service-text -->
                                </div><!-- .service -->
                            </div><!-- .col -->
                            <div class="col-sm-8 col-md-6 col-lg-4">
                                <div class="service">
                                    <div class="service-icon styled-icon styled-icon-s4 styled-icon-6x circle text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-display" viewBox="0 0 16 16">
                                            <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4q0 1 .25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75Q6 13 6 12H2s-2 0-2-2zm1.398-.855a.76.76 0 0 0-.254.302A1.5 1.5 0 0 0 1 4.01V10c0 .325.078.502.145.602q.105.156.302.254a1.5 1.5 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.76.76 0 0 0 .254-.302 1.5 1.5 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.76.76 0 0 0-.302-.254A1.5 1.5 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145" />
                                        </svg>
                                    </div><!-- .service-icon -->
                                    <div class="service-text">
                                        <h4 class="title">Digital Learning Tools</h4>
                                        <p>Smart classrooms, e-library, and online student portal for remote access and learning support.</p>
                                    </div><!-- .secvice-text -->
                                </div><!-- .service -->
                            </div><!-- .col- -->
                            <div class="col-sm-8 col-md-6 col-lg-4">
                                <div class="service">
                                    <div class="service-icon styled-icon styled-icon-s4 styled-icon-6x circle text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bandaid" viewBox="0 0 16 16">
                                            <path d="M14.121 1.879a3 3 0 0 0-4.242 0L8.733 3.026l4.261 4.26 1.127-1.165a3 3 0 0 0 0-4.242M12.293 8 8.027 3.734 3.738 8.031 8 12.293zm-5.006 4.994L3.03 8.737 1.879 9.88a3 3 0 0 0 4.241 4.24l.006-.006 1.16-1.121ZM2.679 7.676l6.492-6.504a4 4 0 0 1 5.66 5.653l-1.477 1.529-5.006 5.006-1.523 1.472a4 4 0 0 1-5.653-5.66l.001-.002 1.505-1.492z" />
                                            <path d="M5.56 7.646a.5.5 0 1 1-.706.708.5.5 0 0 1 .707-.708Zm1.415-1.414a.5.5 0 1 1-.707.707.5.5 0 0 1 .707-.707M8.39 4.818a.5.5 0 1 1-.708.707.5.5 0 0 1 .707-.707Zm0 5.657a.5.5 0 1 1-.708.707.5.5 0 0 1 .707-.707ZM9.803 9.06a.5.5 0 1 1-.707.708.5.5 0 0 1 .707-.707Zm1.414-1.414a.5.5 0 1 1-.706.708.5.5 0 0 1 .707-.708ZM6.975 9.06a.5.5 0 1 1-.707.708.5.5 0 0 1 .707-.707ZM8.39 7.646a.5.5 0 1 1-.708.708.5.5 0 0 1 .707-.708Zm1.413-1.414a.5.5 0 1 1-.707.707.5.5 0 0 1 .707-.707" />
                                        </svg>
                                    </div><!-- .service-icon -->
                                    <div class="service-text">
                                        <h4 class="title">Community Health Outreach</h4>
                                        <p>Regular programs where students participate in real-world health campaigns and services.</p>
                                    </div><!-- .service-text -->
                                </div><!-- .service -->
                            </div><!-- .col -->
                            <div class="col-sm-8 col-md-6 col-lg-4">
                                <div class="service">
                                    <div class="service-icon styled-icon styled-icon-s4 styled-icon-6x circle text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
                                            <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56" />
                                            <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                                        </svg>
                                    </div><!-- .service-icon -->
                                    <div class="service-text">
                                        <h4 class="title">Safe & Serene Campus Environment</h4>
                                        <p>A peaceful learning environment with strong security and health measures.</p>
                                    </div><!-- .service-text -->
                                </div><!-- .service -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->
            <section class="section section-feature pb-0" id="About">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-sm-8 col-lg-6">
                            <div class="section-head">
                                <h2 class="title" style="display: inline-block; position: relative; padding-bottom: 10px;">
                                    ABOUT <span class="text-primary">US</span>
                                    <span class="bg-pink" style="
                    content: '';
                    position: absolute;
                    left: 25%;
                    bottom: 0;
                    width: 50%;
                    height: 3px;
                    background-color: pink;
                    border-radius: 2px;
                    display: block;
                "></span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row flex-row-reverse align-items-center justify-content-between g-gs">
                        <div class="col-lg-6 mb-lg-0 justify-content-center align-items-center">

                            <img src="./assets/alaj/images/photos/team-details.jpg" />
                        </div>
@*                         <div class="col-lg-6 mb-lg-0 " style="">
                            <div class="header-play text-center position-relative" style="height: 350px; width: 100%; border: 2px solid; border-radius: 10px; overflow: hidden;">

                                <!-- Background Image -->
                                <img src="/images/bg/a.jpg" alt="Video thumbnail"
                                     style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;" />

                                <!-- Dark Overlay -->
                                <div style="position: absolute; inset: 0; background: rgba(0,0,0,0.5); z-index: 1;"></div>

                                <!-- Centered Play Button -->
                                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;">
                                    <a class="play popup-video" href="https://www.youtube.com/watch?v=SSo_EIwHSd4">
                                        <div class="styled-icon styled-icon-6x styled-icon-s5 text-warning">
                                            <!-- SVG Icon -->
                                            <svg x="0px" y="0px" viewBox="0 0 512 512" style="fill:currentColor;" xml:space="preserve">
                                            <path d="M436.2,178.3c-7.5-4.7-17.4-2.4-22.1,5.1c-4.7,7.5-2.4,17.4,5.1,22.1c17.5,10.9,28,29.8,28,50.4s-10.5,39.5-28,50.4
L155.7,470.7c-18.6,11.6-41.1,12.2-60.3,1.5c-19.2-10.6-30.6-30.1-30.6-52V91.7c0-21.9,11.4-41.3,30.6-52
c19.1-10.6,41.7-10.1,60.3,1.5l153.4,95.6c7.5,4.7,17.4,2.4,22.1-5.1c4.7-7.5,2.4-17.4-5.1-22.1L172.7,14
c-28.6-17.9-63.3-18.7-92.9-2.4C50.3,28.1,32.7,58,32.7,91.7v328.6c0,33.7,17.6,63.7,47.1,80c14.1,7.8,29.3,11.7,44.5,11.7
c16.7,0,33.4-4.7,48.4-14l263.5-164.3c27-16.8,43.1-45.9,43.1-77.7S463.2,195.2,436.2,178.3z" />
                </svg>
                                        </div>
                                        <div class="play-text text-white">2:58 minutes</div>
                                    </a>
                                </div>
                            </div>

                        </div><!-- .col- --> *@
                        <div class="col-lg-6">
                            <div class="text-block">
                                <h3 class="title">Well Come to <span class="text-pink">The Ligth college of health science and technology</span> </h3>
                                <div class="g-gs">
                                    <div>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui possimus nihil reiciendis maiores dolore amet natus odit ut sequi. Aliquam in iure laborum voluptates adipisci, asperiores commodi. Nisi, nobis? Assumenda repellendus architecto dolore iure
                                            tempora at dolores ex error, accusantium accusamus atque ullam deleniti
                                            voluptate consequuntur numquam non magnam exercitationem.
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui possimus nihil reiciendis maiores dolore amet natus odit ut sequi. Aliquam in iure laborum voluptates adipisci, asperiores commodi. Nisi, nobis? Assumenda repellendus architecto dolore iure tempora at dolores ex error,
                                            accusantium accusamus atque ullam deleniti voluptate consequuntur numquam non magnam exercitationem.
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui possimus nihil reiciendis maiores dolore amet natus odit ut sequi. Aliquam in iure laborum voluptates adipisci, asperiores commodi. Nisi, nobis? Assumenda repellendus architecto dolore iure tempora at dolores ex error,
                                            accusantium accusamus atque ullam deleniti voluptate consequuntur numquam non magnam exercitationem.
                                        </p>
                                    </div>
                                </div>
                            </div><!-- .text-block -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="row justify-content-center text-center g-gs mt-5">
                        <div class="col-9 col-sm-7 col-md-6">
                            <div class="service service-s2">
                                <div class="service-icon styled-icon styled-icon-s2 bg-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bullseye" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                        <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10m0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12" />
                                        <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8" />
                                        <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                    </svg>
                                </div>
                                <div class="service-text">
                                    <h4 class="title">OUR MISSION</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui possimus nihil reiciendis maiores dolore amet natus odit ut sequi. Aliquam in iure laborum voluptates adipisci, asperiores commodi. Nisi, nobis? Assumenda repellendus architecto dolore iure tempora at dolores ex error,
                                        accusantium accusamus atque ullam deleniti voluptate consequuntur numquam non magnam exercitationem.
                                    </p>
                                </div>
                            </div><!-- .service -->
                        </div><!-- .col -->
                        <div class="col-9 col-sm-7 col-md-6">
                            <div class="service service-s2">
                                <div class="service-icon styled-icon styled-icon-s2 bg-pink">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                                    </svg>
                                </div>
                                <div class="service-text">
                                    <h4 class="title">OUR VISSION</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui possimus nihil reiciendis maiores dolore amet natus odit ut sequi. Aliquam in iure laborum voluptates adipisci, asperiores commodi. Nisi, nobis? Assumenda repellendus architecto dolore iure tempora at dolores ex error,
                                        accusantium accusamus atque ullam deleniti voluptate consequuntur numquam non magnam exercitationem.
                                    </p>
                                </div>
                            </div><!-- .service -->
                        </div><!-- .col- -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- .section -->
            <section class="section section-team pb-0" id="team">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="section-head">
                                <h2 class="title text-dark px-1">Our <span class="text-pink">Administrative Leadership!</span> </h2>
                                <p>
                                    Dedicated to excellence, integrity, and progress — our leadership team works
                                    tirelessly to guide and shape the future of our institution.
                                </p>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="row g-gs justify-content-center">
                        <div class="col-lg-3 col-sm-6 col-mb-6">
                            <div class="team team-s1">
                                <div class="team-portrait">
                                    <img src="./images/team/b.jpg" alt="">
                                </div>
                                <div class="team-info">
                                    <h6 class="team-name">sani salim</h6>
                                    <div class="team-role">Director</div>
                                    <ul class="social social-primary">
                                        <li><a href="#"><em class="icon ni ni-twitter"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-instagram"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-pinterest"></em></a></li>
                                    </ul><!--.social link-->
                                </div><!--=team info=-->
                            </div><!--team-->
                        </div><!--col-->
                        <div class="col-lg-3 col-sm-6 col-mb-6">
                            <div class="team team-s1">
                                <div class="team-portrait">
                                    <img src="./images/team/c.jpg" alt="">
                                </div>
                                <div class="team-info">
                                    <h6 class="team-name">Muhammad lawan</h6>
                                    <div class="team-role">Provost</div>
                                    <ul class="social social-primary">
                                        <li><a href="#"><em class="icon ni ni-twitter"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-instagram"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-pinterest"></em></a></li>
                                    </ul><!--.social link-->
                                </div><!--=team info=-->
                            </div><!--team-->
                        </div><!--col-->
                        <div class="col-lg-3 col-sm-6 col-mb-6">
                            <div class="team team-s1">
                                <div class="team-portrait">
                                    <img src="./images/team/d.jpg" alt="">
                                </div>
                                <div class="team-info">
                                    <h6 class="team-name">Mukhtar Bashir</h6>
                                    <div class="team-role">Exam Officer</div>
                                    <ul class="social social-primary">
                                        <li><a href="#"><em class="icon ni ni-twitter"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-instagram"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-pinterest"></em></a></li>
                                    </ul><!--.social link-->
                                </div><!--=team info=-->
                            </div><!--team-->
                        </div><!--col-->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section>
            <section class="py-5 bg-lighter" id="contact">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="section-head">
                                <h2 class="title text-dark px-1">Contact <span class="text-blue">Us</span> </h2>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="row">
                        <!-- Left Column: Contact Info -->
                        <div class="col-md-5 mb-4">
                            <div class="bg-dark text-white p-4 mb-3 rounded">
                                <div class="d-flex align-items-center">
                                    <div class="service-icon styled-icon styled-icon-s4 styled-icon-6x circle text-primary m-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
                                        </svg>
                                    </div><!-- -icon -->
                                    <div>
                                        <h6 class="mb-1 fw-bold">OUR OFFICE LOCATION</h6>
                                        <p class="mb-0">Panshekara oppsite mopol barrack, Kano State</p>
                                    </div>
                                </div>
                            </div>

                            <div class="bg-dark text-white p-4 mb-3 rounded">
                                <div class="d-flex align-items-center ">
                                    <div class="service-icon styled-icon styled-icon-s4 styled-icon-6x circle text-primary m-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                        </svg>
                                    </div><!-- -icon -->
                                    <div>
                                        <h6 class="mb-1 fw-bold">OUR CONTACT NUMBER</h6>
                                        <p class="mb-0">07014306854<br>09011430605</p>
                                    </div>
                                </div>
                            </div>

                            <div class="bg-dark text-white p-4 rounded">
                                <div class="d-flex align-items-center">
                                    <div class="service-icon styled-icon styled-icon-s4 styled-icon-6x circle text-primary m-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16">
                                            <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882zM15 7.383l-4.778 2.867L15 13.117zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765z" />
                                        </svg>
                                    </div><!-- -icon -->
                                    <div>
                                        <h6 class="mb-1 fw-bold">OUR CONTACT E-MAIL</h6>
                                        <p class="mb-0">sanisalim2005@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Right Column: Contact Form -->
                        <div class="col-md-7">
                            <h4 class="mb-4">Interested in Discussion?</h4>
                            <form>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <div class="form-group">
                                            @* <label class="form-label" for="email">Enter Your Name</label> *@
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control form-control-lg" id="name" placeholder="Enter Your Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            @* <label class="form-label" for="email">Enter Your Email</label> *@
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control form-control-lg" id="email" placeholder="Enter Your Email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            @* <label class="form-label" for="phone">Enter Your Subject</label> *@
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control form-control-lg" id="subject" placeholder="Enter Your subject">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            @* <label class="form-label" for="phone">Enter Your Name</label> *@
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control form-control-lg" id="phone" placeholder="Enter Your phone number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            @* <label class="form-label" for="question">Your Question</label> *@
                                            <div class="form-control-wrap">
                                                <textarea class="form-control no-resize" id="message" placeholder="Your Message"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-lg btn-dark">Submit your Message</button>
                                    </div>
                                </div>
                                

                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section-cta">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-xl-6 col-lg-7 col-md-8">
                            <div class="text-block is-compact">
                                <div class="img-block h-150px mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 118">
                                        <path d="M8.916,94.745C-.318,79.153-2.164,58.569,2.382,40.578,7.155,21.69,19.045,9.451,35.162,4.32,46.609.676,58.716.331,70.456,1.845,84.683,3.68,99.57,8.694,108.892,21.408c10.03,13.679,12.071,34.71,10.747,52.054-1.173,15.359-7.441,27.489-19.231,34.494-10.689,6.351-22.92,8.733-34.715,10.331-16.181,2.192-34.195-.336-47.6-12.281A47.243,47.243,0,0,1,8.916,94.745Z" transform="translate(0 -1)" fill="#f6faff" />
                                        <rect x="18" y="32" width="84" height="50" rx="4" ry="4" fill="#fff" />
                                        <rect x="26" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                        <rect x="50" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                        <rect x="74" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                        <rect x="38" y="60" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                        <rect x="62" y="60" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                        <path d="M98,32H22a5.006,5.006,0,0,0-5,5V79a5.006,5.006,0,0,0,5,5H52v8H45a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H73a2,2,0,0,0,2-2V94a2,2,0,0,0-2-2H66V84H98a5.006,5.006,0,0,0,5-5V37A5.006,5.006,0,0,0,98,32ZM73,94v4H45V94Zm-9-2H54V84H64Zm37-13a3,3,0,0,1-3,3H22a3,3,0,0,1-3-3V37a3,3,0,0,1,3-3H98a3,3,0,0,1,3,3Z" transform="translate(0 -1)" fill="#798bff" />
                                        <path d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z" transform="translate(0 -1)" fill="#6576ff" />
                                        <path d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z" transform="translate(0 -1)" fill="none" stroke="#6576ff" stroke-miterlimit="10" stroke-width="2" />
                                        <line x1="40" y1="22" x2="57" y2="22" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        <line x1="40" y1="27" x2="57" y2="27" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        <line x1="40" y1="32" x2="50" y2="32" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        <line x1="30.5" y1="87.5" x2="30.5" y2="91.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                        <line x1="28.5" y1="89.5" x2="32.5" y2="89.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                        <line x1="79.5" y1="22.5" x2="79.5" y2="26.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                        <line x1="77.5" y1="24.5" x2="81.5" y2="24.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                        <circle cx="90.5" cy="97.5" r="3" fill="none" stroke="#9cabff" stroke-miterlimit="10" />
                                        <circle cx="24" cy="23" r="2.5" fill="none" stroke="#9cabff" stroke-miterlimit="10" />
                                    </svg>
                                </div>
                                <h2 class="title">Start Your Health Career Today</h2>
                                <p class="lead ">Apply now and join a college committed to your success in the world of healthcare and medical education.</p>
                                <ul class="btns-inline justify-center">
                                    <li>
                                        <a href="https://1.envato.market/e0y3g" target="_blank" class="btn btn-xl btn-primary">Apply Now</a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- ,col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- .section -->
            <partial name="_Footer" />
        </div>
        <!-- main e -->
    </div>
    <!-- app-root e -->
    <!-- JavaScript -->
    <script>
        function toggleSupportBox() {
          const box = document.querySelector('.support-box');
          box.style.display = box.style.display === 'block' ? 'none' : 'block';
        }

        function getwhatsapp(){
            return ``;
        }
        function getcancel(){
            return ``;keep
        }
    </script>
</body>

</html>

