@using Application.Enum
@model Application.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "New Employee registration";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="nk-block nk-block-lg">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <p style="color:#0971FE;">Fill the form below to add a new Employee. Hint: please provide accurate information concerning the Admin.</p>

            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="card card-bordered">
        <div class="card-inner ">
            <form method="post" id="submitform" enctype="multipart/form-data" onsubmit="ConfirmSubmit(this, event)">
                <div class="row gy-4">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">First Name @* <span style="color:red;"></span> *@</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" required asp-for="FirstName" placeholder="First Name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Surname @* <span style="color:red;">*</span> *@</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" required asp-for="LastName" placeholder="Surname" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Other Name</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" asp-for="OthersName" placeholder="Other Name" />
                                <span asp-validation-for="OthersName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" required asp-for="PhoneNumber" placeholder="Phone Number" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" required asp-for="Email" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Religion</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" required asp-for="Religion" placeholder="Religion" />
                                <span asp-validation-for="Religion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" required asp-for="Address" placeholder="Address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Profile Picture (optional)</label>
                            <div class="form-control-wrap">
                                <input type="file" class="form-control" name="file"  />
                                <span asp-validation-for="ProfilePic" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Gender</label>
                            <div class="form-control-wrap">
                                <select asp-items="Html.GetEnumSelectList<Gender>()" required asp-for="Gender" class="form-select">
                                    <option disabled selected>-- Select Gender --</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">MarialStatus</label>
                            <div class="form-control-wrap">
                                <select asp-items="Html.GetEnumSelectList<MarialStatus>()" required asp-for="MarialStatus" class="form-select">
                                    <option disabled selected>-- Select Marial Status --</option>
                                </select>
                                <span asp-validation-for="MarialStatus" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">DOB</label>
                            <div class="form-control-wrap">
                                <input type="date" class="form-control" required asp-for="DOB" placeholder="Name" />
                                <span asp-validation-for="DOB" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">EmployeType</label>
                            <div class="form-control-wrap">
                                <select asp-items="Html.GetEnumSelectList<EmployeeType>()" required asp-for="EmployeeType" class="form-select">
                                    <option disabled selected>-- Select EmployeeType --</option>
                                </select>
                                <span asp-validation-for="EmployeeType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Salary</label>
                            <div class="form-control-wrap">
                                <input type="number" class="form-control" required asp-for="Salary" placeholder="Email" />
                                <span asp-validation-for="Salary" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Role" class="form-label">Role</label>
                            <div class="form-control-wrap">
                                <select asp-items="ViewBag.Roles" asp-for="Role" id="role" required class="form-select" >
                                    <option selected disabled>Select Role</option>
                                </select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LocalGovnmentId" class="form-label">State</label>
                            <div class="form-control-wrap">
                                <select asp-items="ViewBag.states" id="StateId" required class="form-select" onchange="GetLgst(this, 'LocalGovnmentId')">
                                    <option selected disabled>Select State</option>
                                </select>
                                <span asp-validation-for="LocalGovnmentId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Local Government</label>
                            <div class="form-control-wrap">
                                <select asp-for="LocalGovnmentId" id="LocalGovnmentId" required class="form-select">
                                    <option disabled selected>Select LGA</option>
                                </select>
                                <span asp-validation-for="LocalGovnmentId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xxl-3">
                        <div class="form-group">
                            <button type="submit" id="subbtn" class="btn btn-primary btn-lg">Add New Employee</button>
                            <a type="button" asp-action="Index" asp-controller="Employee" class="btn btn-danger btn-lg">Cancel</a>
                        </div>
                    </div><!--col-->

                </div><!--row-->

            </form>
        </div><!-- .card-inner-group -->
    </div><!-- .card -->
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        function GetLgst(senderelement, receiverelement) {
            var sId = senderelement.value;
            if (sId === null || sId === "") {
                return;
            }
            Swal.showLoading();
            $.ajax({
                url: '/api/v1/v2/getLga',
                type: 'GET',
                data: {
                    SId: sId
                },
                success: function (response) {
                    console.log(response);

                    $(`#${receiverelement}`).empty();
                    $(`#${receiverelement}`).append('<option disabled selected>Select LGA</option>');
                    $.each(response.lgas, function (index, item) {
                        $(`#${receiverelement}`).append('<option value="' + item.id + '">' + item.name + '</option>');
                    });
                },
                error: function (response) {
                    Swal.close();
                    Swal.fire("Request failed", "Processing failed due to network issues", "error");
                },
                complete: function (done) {
                    Swal.close();
                }
            });
        }
        function ConfirmSubmit(form, event) {
            event.preventDefault();
            if (form.checkValidity()) {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Would you like to add this Employee?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Add!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            }
        }
    </script>

}