@using System.Security.Claims
@using Application.Constant
<!-- main header  -->
<div class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
        <div class="nk-header-wrap">
            <div class="nk-menu-trigger d-xl-none ms-n1">
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
            </div>
            <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                    <li class="dropdown notification-dropdown">
                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                            <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                        </a>
                    </li>
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle me-n1" data-bs-toggle="dropdown">
                            <div class="user-toggle">
                                <div class="user-avatar sm">
                                    <em class="icon ni ni-user-alt"></em>
                                </div>
                                <div class="user-info d-none d-xl-block">
                                    @{
                                        string roleName;
                                        if (User.IsInRole(RoleConstant.SuperAdmin))
                                        {
                                            roleName = "SuperAdmin";
                                        }
                                        else if (User.IsInRole(RoleConstant.Principal))
                                        {
                                            roleName = "Principal";
                                        }
                                        else if (User.IsInRole(RoleConstant.Accountant))
                                        {
                                            roleName = "Accountant";
                                        }
                                        else if (User.IsInRole(RoleConstant.Teacher))
                                        {
                                            roleName = "Teacher";
                                        }
                                        else if (User.IsInRole(RoleConstant.FormMaster))
                                        {
                                            roleName = "FormMaster";
                                        }
                                        else if (User.IsInRole(RoleConstant.Parent))
                                        {
                                            roleName = "Parent";
                                        }
                                        else if (User.IsInRole(RoleConstant.Student))
                                        {
                                            roleName = "Student";
                                        }
                                        else if (User.IsInRole(RoleConstant.ExamOfficer))
                                        {
                                            roleName = "ExamOfficer";
                                        }
                                        else
                                            roleName = "Visitors";
                                    }
                                    <div class="user-status user-status-active">@roleName.ToString()</div>
                                    <div class="user-name dropdown-indicator">
                                        @User.Claims.First(x => x.Type == ClaimTypes.Name).Value
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                <div class="user-card">
                                    <div class="user-avatar">
                                        <span>AB</span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text">@User.Claims.First(x =>x.Type == ClaimTypes.Name).Value</span>
                                        <span class="sub-text">@User.Claims.First(x => x.Type == ClaimTypes.Email).Value</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    @if (User.IsInRole(RoleConstant.SuperAdmin))
                                    {
                                        <li><a asp-controller="Admin" asp-action="Profile"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                    }
                                    @if (User.IsInRole(RoleConstant.Parent))
                                    {
                                        <li><a asp-controller="Parent" asp-action="Profile"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                    }
                                    @if (User.IsInRole(RoleConstant.Student))
                                    {
                                        <li><a asp-controller="Student" asp-action="Profile"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                    }
                                    @if (User.Claims.First(x => x.Type == ClaimTypes.Role) != null)
                                    {
                                        <li><a asp-controller="Employee" asp-action="Profile"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                    }
                                    <li>
                                        <a href="/"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a>
                                    </li>
                                    <li>
                                        <a href="/"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a>
                                    </li>
                                    <li><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
                                </ul>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li>
                                        <form asp-area="Identity" asp-page="/Account/Logout">
                                            <button type="submit" class=" btn btn-link link-danger px-0 fw-bold"><em class="icon ni ni-signout "></em><span>Sign out</span></button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- .nk-header-wrap -->
    </div><!-- .container-fliud -->
</div>
<!-- main header  -->